body{background-color:#0C3551;
  text-align: center;
  display: block;
  margin: auto;
  width: 800px;

}

h1{
color: #BE1532;
font-family:'Righteous', cursive;
font-size: 50pt;
}

h2{
  color: #BE1532;
  font-family:'Righteous',cursive;
  font-size:30pt;
}

.excerpt{
  background-color: black;
  font-family:'Roboto', sans-serif;
  font-size: 15pt;
  color: white;
  padding: 24px;
  border:5px #BE1532;
  border-style: dashed;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.button{
  font-family: 'Roboto' , sans-serif;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  background-image: url("asteroids.jpg");
  background-color: #cccccc;
  height: 240px;

}

a:link{color:inherit;
  text-decoration: none;

}

a:hover{color:#ffa500;
  text-decoration:none;
  font-weight:bold;

}

a:active{color:#ffa500;
  text-decoration:underline;
  font-weight:bold;


}
a:visited{
      color:red;
      text-decoration:none;

}
li{
  margin: auto;
  text-align: left;
  padding: 20px;
}
